In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
products=pd.read_csv('Data/Products.csv')
products.head()

,item_no,category_name,item_description,vendor,vendor_name,bottle_size,pack,inner_pack,age,proof,list_date,upc,scc,bottle_price,shelf_price,case_cost
0,904616,MISC. AMERICAN CORDIALS & LIQUEURS,Travis Hasse Apple Pie,305,Mhw Ltd,750,12,1,NaN,40,2009-02-11 00:00:00,NaN,NaN,$9.77,14.66,117.22
1,904617,MISC. IMPORTED CORDIALS & LIQUEURS,D'aristi Xtabentun,391,Anchor Distilling (preiss Imports),750,12,1,NaN,60,2009-04-24 00:00:00,NaN,NaN,$14.12,21.18,169.40
2,904618,PEACH BRANDIES,Hiram Walker Peach Brandy,370,Pernod Ricard Usa/austin Nichols,1000,12,1,NaN,60,2009-12-16 00:00:00,NaN,8.954050e+10,$6.50,9.74,77.94
3,904619,SCOTCH WHISKIES,Oak Cross Whisky,305,Mhw Ltd,750,6,1,NaN,86,2009-12-24 00:00:00,NaN,NaN,$25.33,38.00,152.00
4,904620,FLAVORED VODKA,Uv Red(cherry) Vodka,380,Phillips Beverage Company,200,24,1,NaN,60,2009-11-05 00:00:00,NaN,1.008710e+13,$1.97,2.96,47.30